@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<title>On-Site Coding</title>
<html>
<head>
    <style>

        img {
            position: absolute;
            right: 20px;
            top: 20px;
            background: #FAFAFA;
            mix-blend-mode: normal;
        }

        .background-img {
            /* The image used */
            grid-row: 1/5;
            background-image: url("/assets/main_page.jfif");
            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inherit;
        }
    </style>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <div class="background-img"></div>

    <img src="/assets/logo.png" alt="logo" width="100" height="100">
    <a asp-controller="Auth" asp-action="Register" class="buttonregister">Register</a>
    <a asp-controller="Auth" asp-action="Login" class="buttonlogin">Login</a>
</body>
</html>
