@model string
@{
    ViewData["Title"] = "Error";
    Layout = "";
}

    <style>
        body {
            background-image: url("../assets/bg1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            margin: 50px;
        }
    </style>

<h1 class="text-danger">Error:</h1>
<h2 class="text-danger">@Model</h2>


